[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=openOnline
X-KDE-Priority=TopLevel
X-KDE-RequiredPrograms=cloudmount-kde-helper

[Desktop Action openOnline]
Name=Open Online (SharePoint)
Name[en_US]=Open Online (SharePoint)
Icon=cloudmount
Exec=cloudmount-kde-helper %F
